body {
    font-family: Arial;
    background-color: #3a393e;
    color: white;
    overflow-y: scroll;
}

table, tbody, thead, tr, th, td {
    margin: 0;
}


.results-container {
}

.outer-table {
    background-color: #3e3e41;
    border: 1px solid gray;
    border-radius: 7px;
    width: 100%;
    min-width: 1000px;


    /*tbody > tr:nth-child(odd) {
      background-color: #eeeeee;
    }*/

}

.data-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.path-input {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border-radius: 4px;
}

textarea {
    width:100%;
    height:300px;
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    resize: none; /* Optional: Disable user resizing */
    background-color: #323233;
    color: white;
}

.request-list-table {
    width: 100%;
    margin-top: 10px;
    font-size: .9em;

}
