/* Example using both standardized and Webkit properties */
html {

    scrollbar-width: thin; /* Standard */
    scrollbar-color: gray transparent; /* Standard */
}

/* For Webkit browsers (e.g., Chrome, Safari) */
html::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

html::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

html::-webkit-scrollbar-thumb {
  background-color: blue; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
}

body {
    font-family: Arial;
    background-color: #18171a;
    color: white;
    overflow-y: scroll;
}


table, tbody, thead, tr, th, td {
    margin: 0;
}


.results-container {


}
.sticky-top-container {
        display: flex;
          flex-direction: column;
          gap: 5px;
          padding-top: 2rem;
          padding-bottom: 10px;
          background-color: #18171a
    }
.outer-table {
    background-color: #3e3e41;
    border: 1px solid gray;
    border-radius: 7px;
    width: 100%;
    min-width: 1000px;


    /*tbody > tr:nth-child(odd) {
      background-color: #eeeeee;
    }*/

}

.data-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.path-input {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
}

textarea {
    width:100%;
    height:300px;
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    resize: none; /* Optional: Disable user resizing */
}

textarea, .path-input {
    background-color: #323233;
    color: white;
}

.request-list-table {
    width: 100%;
    margin-top: 10px;
    font-size: .8em;

}

.alert-pending-updates {
  background-color: #cbcb61;
  padding: 5px 10px;
  font-size: .8em;
  color: #0e0e01;
  border-radius: 3px;
    border: 1px solid #d0dbd0;
}

.info-mocks-loaded {
    background-color: #7bad89;
  padding: 5px 10px;
  font-size: .8em;
  color: #0e4812;
  border-radius: 3px;
  border: 1px solid #d0dbd0;
}